@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #D9D6D0, #A69886);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #3f33288c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #8C7765;
    text-align: center;
    text-shadow: 1px 1px 2px #3a31299c;
}
h2{
    color: #262521;
}
p{
    text-align: justify;
}